# dependencies
/node_modules

# production
/build
*.zip

# private data
/src/data
/media

# media
/src/media

# misc
/.idea
.DS_Store

# package-lock.json
package-lock.json
yarn.lock
debug.log
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*